<div class="stickyy">
  <div></div>
  <div>ownedbylogo</div>
  <div></div>
  <p>home</p>
  <p>services</p>
  <p>about</p>
  <p>contact</p>
  <div></div>

  <button>login</button>
  <div></div>
</div>

<div>
  <div
    style="
      background-color: grey;
      height: 50vh;
      padding-top: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    "
  >
    <div></div>
    <div class="makulaHeaders">identify it, trace it, thats ownership</div>
    <div class="makulaHeadersTwo">If you own it is, make sure its yours</div>
    <label class="custom-field three ccenter">
      <input type="text" placeholder="&nbsp;" class="generalForm" />
      <button class="generalButton">Search</button>
      <span class="border"></span>
    </label>
    <div></div>
  </div>

  <div style="background-color: salmon; height: 90vh">
    
    
  </div>

    <div style="background-color: green; height: 90vh; padding: 2vw;">
      <div
        style="
          width: 80vw;
          height: 20vh;
          background-color: rgba(240, 248, 255, 0.518);
        "
      ></div>
    </div>
    <div style="background-color: indigo; height: 90vh">carousel features</div>
</div>
