<div style="background-color: blue; display: flex; position: sticky;">
  <div>ownedbylogo</div>
  <p>home</p>
  <p>services</p>
  <p>about</p>
  <p>contact</p>
  <button>login</button>
</div>

<div style="background-color: grey"><div >identify it, trace it, thats ownership</div><div style="background-color: hotpink; padding:.5cm; width: fit-content;">dialog box</div></div>
<div style="background-color: salmon">how it works 3 options</div>
<div style="background-color: green">imei halfcard</div>
<div style="background-color: indigo">carousel features</div>
